In [1]:
import findspark
findspark.init('/home/max/Downloads/spark-2.4.0-bin-hadoop2.7')
from pyspark.sql import SparkSession

In [2]:
spark= SparkSession.builder.getOrCreate()

In [22]:
%run generate_data.py

             date code                                               text
0      2000-01-01    a  tba smoke weblogs rfc auditor pressure quotati...
1      2000-01-01    a  smoke weblogs rfc auditor pressure quotations ...
2      2000-01-01    a  weblogs rfc auditor pressure quotations aye af...
3      2000-01-02    a  smoke weblogs rfc auditor pressure quotations ...
4      2000-01-02    a  weblogs rfc auditor pressure quotations aye af...
5      2000-01-02    a  rfc auditor pressure quotations aye afterwards...
6      2000-01-03    a  weblogs rfc auditor pressure quotations aye af...
7      2000-01-03    a  rfc auditor pressure quotations aye afterwards...
8      2000-01-03    a  auditor pressure quotations aye afterwards com...
9      2000-01-04    a  rfc auditor pressure quotations aye afterwards...
10     2000-01-04    a  auditor pressure quotations aye afterwards com...
11     2000-01-05    a  auditor pressure quotations aye afterwards com...
12     2000-01-05    a  pressure quotations aye afterwards compared at...
13     2000-01-06    a  pressure quotations aye afterwards compared at...
14     2000-01-06    a  quotations aye afterwards compared athens fals...
15     2000-01-07    a  quotations aye afterwards compared athens fals...
16     2000-01-07    a  aye afterwards compared athens false travel so...
17     2000-01-08    a  aye afterwards compared athens false travel so...
18     2000-01-08    a  afterwards compared athens false travel soldie...
19     2000-01-09    a  afterwards compared athens false travel soldie...
20     2000-01-09    a  compared athens false travel soldiers follow o...
21     2000-01-10    a  compared athens false travel soldiers follow o...
22     2000-01-10    a  athens false travel soldiers follow objective ...
23     2000-01-11    a  athens false travel soldiers follow objective ...
24     2000-01-11    a  false travel soldiers follow objective oclc ad...
25     2000-01-12    a  false travel soldiers follow objective oclc ad...
26     2000-01-12    a  travel soldiers follow objective oclc addition...
27     2000-01-13    a  travel soldiers follow objective oclc addition...
28     2000-01-13    a  soldiers follow objective oclc additions sugge...
29     2000-01-14    a  soldiers follow objective oclc additions sugge...
...           ...  ...                                                ...
105506 2002-09-25    j  lawyers ho lake staying conversations separati...
105507 2002-09-25    j  ho lake staying conversations separation readi...
105508 2002-09-25    j  lake staying conversations separation readily ...
105509 2002-09-26    j  broader yard getting buyers jam awesome differ...
105510 2002-09-26    j  yard getting buyers jam awesome differ america...
105511 2002-09-26    j  getting buyers jam awesome differ america caut...
105512 2002-09-26    j  buyers jam awesome differ america caution shor...
105513 2002-09-26    j  jam awesome differ america caution short endle...
105514 2002-09-26    j  awesome differ america caution short endless c...
105515 2002-09-26    j  differ america caution short endless credit ma...
105516 2002-09-26    j  america caution short endless credit magnitude...
105517 2002-09-26    j  caution short endless credit magnitude scales ...
105518 2002-09-26    j  short endless credit magnitude scales groups p...
105519 2002-09-26    j  endless credit magnitude scales groups plannin...
105520 2002-09-26    j  credit magnitude scales groups planning rebel ...
105521 2002-09-26    j  magnitude scales groups planning rebel pole dk...
105522 2002-09-26    j  scales groups planning rebel pole dk clearing ...
105523 2002-09-26    j  groups planning rebel pole dk clearing weekend...
105524 2002-09-26    j  planning rebel pole dk clearing weekend constr...
105525 2002-09-26    j  rebel pole dk clearing weekend constraints che...
105526 2002-09-26    j  pole dk clearing weekend constraints cheap law...
105527 2002-09-26    j  dk clearing weekend constraints cheap lawyers ...
105528 2002-09-26    j  clearing weekend constraints cheap lawyers ho ...
105529 2002-09-26    j  weekend constraints cheap lawyers ho lake stay...
105530 2002-09-26    j  constraints cheap lawyers ho lake staying conv...
105531 2002-09-26    j  cheap lawyers ho lake staying conversations se...
105532 2002-09-26    j  lawyers ho lake staying conversations separati...
105533 2002-09-26    j  ho lake staying conversations separation readi...
105534 2002-09-26    j  lake staying conversations separation readily ...
105535 2002-09-26    j  staying conversations separation readily nothi...

[105536 rows x 3 columns]

In [23]:
df = spark.createDataFrame(dummy_dataset)

In [26]:
df.write.parquet("test2.parquet")

In [25]:
df.write.csv("test2.csv")